<html>
    <head>
        <title>Invisible Cities</title>
    </head>
    <body>
        <h1>City & Dream</h1>
        <% if(data.length > 0){
            for(var i=0; i < data.length; i++){
        %> 
                <div id="dataout<%= i"><%= data[i].text %></div><!--OMGGGGG!!!!-->
            }
        }
    </body>
</html>